@import url("./palette.css");

.colorColor1 {
  color: var(--color1);
}
.colorColor2 {
  color: var(--color2);
}
.colorColor3 {
  color: var(--color3);
}
.colorColor4 {
  color: var(--color4);
}
.colorColor5 {
  color: var(--color5);
}
.colorBright0 {
  color: var(--bright0);
}
.colorBright1 {
  color: var(--bright1);
}
.colorBright2 {
  color: var(--bright2);
}
.colorBright3 {
  color: var(--bright3);
}
.colorBright4 {
  color: var(--bright4);
}
.colorBright5 {
  color: var(--bright5);
}
.colorBright6 {
  color: var(--bright6);
}
.colorBright7 {
  color: var(--bright7);
}
.colorBright8 {
  color: var(--bright8);
}
.colorBright9 {
  color: var(--bright9);
}

.backColor1 {
  background-color: var(--color1);
}
.backColor2 {
  background-color: var(--color2);
}
.backColor3 {
  background-color: var(--color3);
}
.backColor4 {
  background-color: var(--color4);
}
.backColor5 {
  background-color: var(--color5);
}
.backBright0 {
  background-color: var(--bright0);
}
.backBright1 {
  background-color: var(--bright1);
}
.backBright2 {
  background-color: var(--bright2);
}
.backBright3 {
  background-color: var(--bright3);
}
.backBright4 {
  background-color: var(--bright4);
}
.backBright5 {
  background-color: var(--bright5);
}
.backBright6 {
  background-color: var(--bright6);
}
.backBright7 {
  background-color: var(--bright7);
}
.backBright8 {
  background-color: var(--bright8);
}
.backBright9 {
  background-color: var(--bright9);
}

.fillColor1 {
  fill: var(--color1);
}
.fillColor2 {
  fill: var(--color2);
}
.fillColor3 {
  fill: var(--color3);
}
.fillColor4 {
  fill: var(--color4);
}
.fillColor5 {
  fill: var(--color5);
}

.borderColor1 {
  border: 1px solid var(--color1);
}
.borderColor2 {
  border: 1px solid var(--color2);
}
.borderColor3 {
  border: 1px solid var(--color3);
}
.borderColor4 {
  border: 1px solid var(--color4);
}
.borderColor5 {
  border: 1px solid var(--color5);
}
.borderBright1 {
  border: 1px solid var(--bright1);
}
.borderBright2 {
  border: 1px solid var(--bright2);
}
.borderBright3 {
  border: 1px solid var(--bright3);
}
.borderBright4 {
  border: 1px solid var(--bright4);
}
.borderBright5 {
  border: 1px solid var(--bright5);
}
.borderBright6 {
  border: 1px solid var(--bright6);
}
.borderBright7 {
  border: 1px solid var(--bright7);
}
.borderBright8 {
  border: 1px solid var(--bright8);
}
.borderBright9 {
  border: 1px solid var(--bright9);
}

.borBottomColor1 {
  border-bottom: 1px solid var(--color1);
}
.borBottomColor2 {
  border-bottom: 1px solid var(--color2);
}
.borBottomColor3 {
  border-bottom: 1px solid var(--color3);
}
.borBottomColor4 {
  border-bottom: 1px solid var(--color4);
}
.borBottomColor5 {
  border-bottom: 1px solid var(--color5);
}
