@import url("./palette.css");

.colorPrimary0 {
  color: var(--primary0);
}
.colorPrimary1 {
  color: var(--primary1);
}
.colorPrimary2 {
  color: var(--primary2);
}
.colorPrimary3 {
  color: var(--primary3);
}
.colorPrimary4 {
  color: var(--primary4);
}
.colorPrimary5 {
  color: var(--primary5);
}
.colorPrimary6 {
  color: var(--primary6);
}
.colorPrimary7 {
  color: var(--primary7);
}
.colorPrimary8 {
  color: var(--primary8);
}
.colorPrimary9 {
  color: var(--primary9);
}
.colorBright0 {
  color: var(--bright0);
}
.colorBright1 {
  color: var(--bright1);
}
.colorBright2 {
  color: var(--bright2);
}
.colorBright3 {
  color: var(--bright3);
}
.colorBright4 {
  color: var(--bright4);
}
.colorBright5 {
  color: var(--bright5);
}
.colorBright6 {
  color: var(--bright6);
}
.colorBright7 {
  color: var(--bright7);
}
.colorBright8 {
  color: var(--bright8);
}
.colorBright9 {
  color: var(--bright9);
}

.backPrimary0 {
  background-color: var(--primary0);
}
.backPrimary1 {
  background-color: var(--primary1);
}
.backPrimary2 {
  background-color: var(--primary2);
}
.backPrimary3 {
  background-color: var(--primary3);
}
.backPrimary4 {
  background-color: var(--primary4);
}
.backPrimary5 {
  background-color: var(--primary5);
}
.backPrimary6 {
  background-color: var(--primary6);
}
.backPrimary7 {
  background-color: var(--primary7);
}
.backPrimary8 {
  background-color: var(--primary8);
}
.backPrimary9 {
  background-color: var(--primary9);
}
.backBright0 {
  background-color: var(--bright0);
}
.backBright1 {
  background-color: var(--bright1);
}
.backBright2 {
  background-color: var(--bright2);
}
.backBright3 {
  background-color: var(--bright3);
}
.backBright4 {
  background-color: var(--bright4);
}
.backBright5 {
  background-color: var(--bright5);
}
.backBright6 {
  background-color: var(--bright6);
}
.backBright7 {
  background-color: var(--bright7);
}
.backBright8 {
  background-color: var(--bright8);
}
.backBright9 {
  background-color: var(--bright9);
}

.fillPrimary0 {
  fill: var(--primary0);
}
.fillPrimary1 {
  fill: var(--primary1);
}
.fillPrimary2 {
  fill: var(--primary2);
}
.fillPrimary3 {
  fill: var(--primary3);
}
.fillPrimary4 {
  fill: var(--primary4);
}
.fillPrimary5 {
  fill: var(--primary5);
}
.fillPrimary6 {
  fill: var(--primary6);
}
.fillPrimary7 {
  fill: var(--primary7);
}
.fillPrimary8 {
  fill: var(--primary8);
}
.fillPrimary9 {
  fill: var(--primary9);
}

.borderPrimary0 {
  border: 1px solid var(--primary0);
}
.borderPrimary1 {
  border: 1px solid var(--primary1);
}
.borderPrimary2 {
  border: 1px solid var(--primary2);
}
.borderPrimary3 {
  border: 1px solid var(--primary3);
}
.borderPrimary4 {
  border: 1px solid var(--primary4);
}
.borderPrimary5 {
  border: 1px solid var(--primary5);
}
.borderPrimary6 {
  border: 1px solid var(--primary6);
}
.borderPrimary7 {
  border: 1px solid var(--primary7);
}
.borderPrimary8 {
  border: 1px solid var(--primary8);
}
.borderPrimary9 {
  border: 1px solid var(--primary9);
}
.borderBright1 {
  border: 1px solid var(--bright1);
}
.borderBright2 {
  border: 1px solid var(--bright2);
}
.borderBright3 {
  border: 1px solid var(--bright3);
}
.borderBright4 {
  border: 1px solid var(--bright4);
}
.borderBright5 {
  border: 1px solid var(--bright5);
}
.borderBright6 {
  border: 1px solid var(--bright6);
}
.borderBright7 {
  border: 1px solid var(--bright7);
}
.borderBright8 {
  border: 1px solid var(--bright8);
}
.borderBright9 {
  border: 1px solid var(--bright9);
}

.borBottomPrimary0 {
  border-bottom: 1px solid var(--primary0);
}
.borBottomPrimary1 {
  border-bottom: 1px solid var(--primary1);
}
.borBottomPrimary2 {
  border-bottom: 1px solid var(--primary2);
}
.borBottomPrimary3 {
  border-bottom: 1px solid var(--primary3);
}
.borBottomPrimary4 {
  border-bottom: 1px solid var(--primary4);
}
.borBottomPrimary5 {
  border-bottom: 1px solid var(--primary5);
}
.borBottomPrimary6 {
  border-bottom: 1px solid var(--primary6);
}
.borBottomPrimary7 {
  border-bottom: 1px solid var(--primary7);
}
.borBottomPrimary8 {
  border-bottom: 1px solid var(--primary8);
}
.borBottomPrimary9 {
  border-bottom: 1px solid var(--primary9);
}
