.thumbNailBack {
  width: 70%;
  height: 70%;
  border-radius: 100%;
  background-image: url("/src/assets/img/profile_img.jpeg");
  background-size: cover;
}
.thumbNailCover {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 5;
}
.thumbNailCover:hover {
  opacity: 0.2;
}
.thumbOrbit {
  width: 50vmin;
  height: 50vmin;
  max-width: 500px;
  max-height: 500px;
  border-radius: 25vmin;
}
