.thumbNailBack {
  width: 65%;
  height: 65%;
  border-radius: 100%;
  background-image: url("/src/assets/img/profile_img.jpeg");
  background-size: cover;
}
.thumbNailCover {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 5;
  box-shadow: var(--color4) 0px 0px 50px 0px;
  color: var(--bright2);
  font-size: 19px;
  font-weight: 300;
  transition: font-weight, font-size 0.4s ease 0s;
}
.thumbNailCover:hover {
  opacity: 0.8;
  color: var(--bright1);
  font-size: 18px;
  font-weight: 500;
}
.thumbOrbit {
  width: 52vmin;
  height: 52vmin;
  max-width: 500px;
  max-height: 500px;
  min-width: 280px;
  min-height: 280px;
  border-radius: 50vmin;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: var(--bright3);
  box-shadow: var(--bright3) 0px 0px 20px 0px;
}
.profileImg {
  height: 100%;
  border-radius: 50%;
}

.footerIconBtn {
  padding: 0;
  color: var(--bright5) !important;
}
.footerIconBtn:hover {
  color: var(--bright7) !important;
}
