@import url("./color.css");
@import url("./position.css");
@import url("./action.css");
@import url("./custom.css");

@font-face {
  font-family: "CustomSans";
  src: url("../font/notoSansKR/NotoSansKR-Regular.otf") format("otf");
  font-style: normal;
}

@font-face {
  font-family: "CustomSans";
  src: url("../font/openSans/open-sans-regular.ttf") format("ttf");
  unicode-range: U+0020-007E;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "CustomSans";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
