:root {
  --gray0: #f8f9fa;
  --gray1: #f1f3f5;
  --gray2: #e9ecef;
  --gray3: #dee2e6;
  --gray4: #ced4da;
  --gray5: #adb5bd;
  --gray6: #868e96;
  --gray7: #495057;
  --gray8: #343a40;
  --gray9: #212529;

  --winter1: #b5e5e7;
  --winter2: #71c3db;
  --winter3: #1cb3d2;
  --winter4: #067a9f;
  --winter5: #213b54;

  --cyan0: #e3fafc;
  --cyan1: #c5f6fa;
  --cyan2: #99e9f2;
  --cyan3: #66d9e8;
  --cyan4: #3bc9db;
  --cyan5: #22b8cf;
  --cyan6: #15aabf;
  --cyan7: #1098ad;
  --cyan8: #0c8599;
  --cyan9: #0b7285;

  --cyan0hover: rgba(227, 250, 252, 0.1);
  --cyan1hover: rgba(197, 246, 250, 0.1);
  --cyan2hover: rgba(153, 233, 242, 0.1);
  --cyan3hover: rgba(102, 217, 232, 0.1);
  --cyan4hover: rgba(59, 201, 219, 0.1);
  --cyan5hover: rgba(34, 184, 207, 0.1);
  --cyan6hover: rgba(21, 170, 191, 0.1);
  --cyan7hover: rgba(16, 152, 173, 0.1);
  --cyan8hover: rgba(12, 133, 153, 0.1);
  --cyan9hover: rgba(11, 114, 133, 0.1);

  --primary0: var(--cyan0);
  --primary1: var(--cyan1);
  --primary2: var(--cyan2);
  --primary3: var(--cyan3);
  --primary4: var(--cyan4);
  --primary5: var(--cyan5);
  --primary6: var(--cyan6);
  --primary7: var(--cyan7);
  --primary8: var(--cyan8);
  --primary9: var(--cyan9);

  --bright0: var(--gray0);
  --bright1: var(--gray1);
  --bright2: var(--gray2);
  --bright3: var(--gray3);
  --bright4: var(--gray4);
  --bright5: var(--gray5);
  --bright6: var(--gray6);
  --bright7: var(--gray7);
  --bright8: var(--gray8);
  --bright9: var(--gray9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary9: var(--cyan0);
    --primary8: var(--cyan1);
    --primary7: var(--cyan2);
    --primary6: var(--cyan3);
    --primary5: var(--cyan4);
    --primary4: var(--cyan5);
    --primary3: var(--cyan6);
    --primary2: var(--cyan7);
    --primary1: var(--cyan8);
    --primary0: var(--cyan9);

    --primary0hover: var(--primary9hover);
    --primary1hover: var(--primary8hover);
    --primary2hover: var(--primary7hover);
    --primary3hover: var(--primary6hover);
    --primary4hover: var(--primary5hover);
    --primary5hover: var(--primary4hover);
    --primary6hover: var(--primary3hover);
    --primary7hover: var(--primary2hover);
    --primary8hover: var(--primary1hover);
    --primary9hover: var(--primary0hover);

    --bright9: var(--gray0);
    --bright8: var(--gray1);
    --bright7: var(--gray2);
    --bright6: var(--gray3);
    --bright5: var(--gray4);
    --bright4: var(--gray5);
    --bright3: var(--gray6);
    --bright2: var(--gray7);
    --bright1: var(--gray8);
    --bright0: var(--gray9);
  }
}
