.flex {
  display: flex;
}
.contentCenter {
  justify-content: center;
}
.contentStart {
  justify-content: flex-start;
}
.contentEnd {
  justify-content: end;
}
.justifySelfCenter {
  justify-self: center;
}
.justifySelfStart {
  justify-self: flex-start;
}
.justifySelfEnd {
  justify-self: flex-end;
}
.itemsCenter {
  align-items: center;
}
.itemsStart {
  align-items: flex-start;
}
.itemsEnd {
  align-items: flex-end;
}
.centerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.fullfull {
  width: 100%;
  height: 100%;
}
